 *{
    margin: 0;
    padding: 0;
    font-family: "poppins",sans-serif;
    box-sizing: border-box;
 }
 body{
    height: 100vh;
    width: 100vw;
    background: #03be9f;
    background-size: cover;
 }
 .container{
    background-image: linear-gradient(#00d49c,#5b548a);
    backdrop-filter: blur(10px);
    width: 90%;
    max-width: 470px;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;

    -webkit-border-radius: 20px;
    -moz-border-radius:20px;
    -ms-border-radius:20px;
    -o-border-radius:20px;
}
.search{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search input{
    border: none;
    outline: none;
    background-color: #ebfffc;
    color: #101010;
    padding: 30px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin: right 16px;
    font-size: 18px;
    -webkit-border-radius: 30px;
    -moz-border-radius:30px;
    -ms-border-radius:30px;
    -o-border-radius:30px;
}
.search button{
    border: rgb(16, 15, 16);
    outline: none;
    background: #218879;
    border-radius: 50px;
    height: 60px;
    width: 50px;
    cursor: pointer;
     -webkit-border-radius: 50px;
    -moz-border-radius:50px;
    -ms-border-radius:50px;
    -o-border-radius:50px;
}
.search button i{
 font-size: 30px;
 font-style: oblique;
}
.werther-icon{
 width: 170px;
 margin-top: 30px;
}
.werther h1{
font-size: 80px;
font-weight: 500;
}
.werther h2{
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}
 .details{
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}
.details .col{ 
display: flex;
align-items: center;
text-align: left;
}
.col img{
    width: 40px;
    margin-right: 10px;
}
